<!DOCTYPE html>
<head>
    <link rel = "stylesheet" href = static/styles/homepage.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
</head>
<body>
    <title>
        Arav's portfolio
    </title>
    <!-- <h1> Welcome to Arav's portfolio</h1> -->
    
    <class = navbar>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/project">Projects</a></li>
            <li class="right"><a href="https://github.com/Araxision"><i class="fab fa-github" ></i></a></li>
            <li class="right"><a href="https://www.linkedin.com/in/arav-de-a3538a248/"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </class>
    <div>
        <class = gallery>
        <a target="_blank" href = "https://github.com/Araxision">
        <img src = "/flaskapp/Untitled.png" alt = "Mondrian" width = "600" height = "400">
        </a>
        <div class = "desc"> Mondrian Art </div>
        </class>
    </div>
    <p>
        This is a line of text
        This is another line of text 
    </p>
</body>